{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Meilleure Box Mystère !?
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-2 pt-2 display-1 fw-bold">
		Box Mystère</h1>
</br>
<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for box in boxs %}
		<div class="col">
			<div class="card">
				{% set image ='images/'~ box.image %}
				<img src="{{asset(image)}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{box.nom}}</h5>
					<p class="card-text">{{box.description}}</p>
					<p>
					{% for a in box.associerBoxes %}
						<span class="badge text-bg-light">{{a.taille.libelle}}</span>
					{% endfor %}
					</p>
					<a class="btn btn-primary" role="button">
						<i class="bi bi-cart"></i>
					</a>
					{% if is_granted ('IS_AUTHENTICATED_FULLY') %}
						{% if box in app.user.adorerBox %}
							<a class="btn btn-warning" href="{{path('app_adorer_box',{'id':box.id})}}" role="button">
								<i class="bi bi-heart-fill" title="adorer"></i>
							</a>
						{% else %}
							<a class="btn btn-warning" href="{{path('app_adorer_box',{'id':box.id})}}" role="button">
								<i class="bi bi-heart" title="adorer"></i>
							</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>{% endblock %}
